
.env
.idea/

__pycache__/
*.py[cod]
*.pyo


venv/
.env/
.venv/


docker-compose.override.yml
docker-compose.override.yaml
docker-compose.override*


*.log


certbot/conf/
certbot/www/


redis-data/
mongo-data/
